.button {
    background-color: coral;
    border: 3px solid black;
    border-radius: 20px;
    margin-bottom: 5px;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 70px;
}
